@model IEnumerable<Araintelsoftware.Models.AragonDork>

@{
    ViewData["Title"] = "Index";
}

<input type="search" id="search-input" placeholder="Buscar">
<h1>AragonDorks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table" id="table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DorkValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-body">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="https://www.google.com/search?q=@item.DorkValue" target="_blank">@item.DorkValue</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    document.addEventListener("DOMContentLoaded", function () {

        let input = document.getElementById("search-input");

        let tableBody = document.getElementById("table-body");


        input.addEventListener("input", function () {

            let filter = input.value.toUpperCase();

            let rows = tableBody.rows;


            for (let i = 0; i < rows.length; i++) {

                let cells = rows[i].cells;

                let dorkValue = cells[0].innerText.toUpperCase();


                if (dorkValue.indexOf(filter) > -1) {

                    rows[i].style.display = "";

                } else {

                    rows[i].style.display = "none";

                }

            }

        });

    });

</script>