@using Araintelsoftware.Models

@model IEnumerable<AragonDork>

@{
    ViewData["Title"] = "Index";
}


<h1>AragonDorks</h1>

<form asp-action="SearchDorks" method="get">
    <input type="number" id="id-input" placeholder="ID" name="id" value="@ViewData["CurrentId"]" />
    <input type="search" id="search-input" placeholder="Buscar" name="searchString" value="@ViewData["CurrentFilter"]" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table" id="table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DorkValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-body">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="2">No results found.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="https://www.google.com/search?q=@item.DorkValue" target="_blank">@item.DorkValue</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p><a href="@Url.Action("Index", "AragonDorks")">Atrás</a></p>