@model IEnumerable<Araintelsoftware.Models.Agendum>

@{
    ViewData["Title"] = "AralinkDb";
}

<table class="table" id="table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Url</th>
            <th>Mail</th>
            <th>Empresa</th>
            <th>Puesto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td>@item.Url</td>
                <td>@item.Mail</td>
                <td>@item.Company</td>
                <td>@item.Postion</td>
            </tr>
        }
    </tbody>
</table>